body.login{
    background: url("/img/login/background.jpg");
    background-color: grey;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.logo {
    background: url("/img/login/logo.png");
    background-origin: content-box;
    background-size: cover;
    background-repeat: round;
    max-width: 450px;
    height: 110px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 150px;
}

.social {
    text-align: center;
    height: 110px;
    margin: 0 auto;
    position: relative;
    top: 170px;
    color: #ff0000;
}

.btn.btn-sm.btn-social-icon {
    padding-left: 30px;!important;
    margin: 0 10px
}

