:root {
  --html-bg-color: linear-gradient(to top, #030303 20%, #010102 50%, rgb(25, 26, 26) 80%) fixed;
  --html-bg-nav-bar: rgb(25, 26, 26);
  --html-bg-loader: rgba(173, 173, 173, 0.5);
  --html-bg-tt : rgb(14, 14, 14);
  --html-bg-tt2 : rgba(42, 43, 43, 0.7);
  --html-bg-tt3 : rgba(216, 218, 220, 0.8);
  --html-filer : invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
  --html-filer-n : invert(100%) sepia(0%) saturate(300%) hue-rotate(125deg) brightness(74%) contrast(56%);
  --html-red : #ef0303;
  --html-text-blue: #c1c5c9;
  --html-text-white: #ffffff;
  --html-active: rgba(109, 108, 108, 0.2);
}
