/*Blue*/
:root {
  --html-bg-color: linear-gradient(to top, #030303 20%, #081932 50%, rgb(10, 34, 68) 80%) fixed;
  --html-bg-nav-bar: rgb(10, 34, 68);
  --html-bg-loader: rgba(0, 0, 0, 0.2);
  --html-bg-tt : rgba(9, 14, 39, 1);
  --html-bg-tt2 : rgba(18, 25, 64, 0.7);

  --html-bg-tt3 : rgba(10, 34, 68, 0.8);
  --html-filer : invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
  --html-filer-n : invert(29%) sepia(75%) saturate(1247%) hue-rotate(192deg) brightness(85%) contrast(85%);
  --html-red : #ff0003;
  --html-text-blue: #295EA6;
  --html-text-white: #ffffff;
  --html-active: rgba(109, 108, 108, 0.2);
}
