/*Gray*/
:root {
  --html-bg-color: linear-gradient(to top, #030303 20%, #353f42 50%, rgb(60, 69, 82) 80%) fixed;
  --html-bg-nav-bar: rgb(51, 54, 57);
  --html-bg-loader: rgba(0, 0, 0, 0.2);
  --html-bg-loader: #686d6f;
  --html-bg-tt : rgb(37, 37, 40);
  --html-bg-tt2 : rgba(56, 58, 69, 0.7);
  --html-bg-tt3 : rgba(47, 50, 54, 0.8);
  --html-filer : invert(33%) sepia(51%) saturate(1822%) hue-rotate(339deg) brightness(90%) contrast(96%);
  --html-filer-n : invert(45%) sepia(6%) saturate(285%) hue-rotate(152deg) brightness(91%) contrast(88%);
  --html-red : #cd432a;
  --html-text-blue: #5e6063;
  --html-text-white: #ffffff;
  --html-active: rgba(229, 0, 0, 0.2);
}
