body {
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.equalizer {
  display: flex;
}

.section {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 0 8px;
.title {
  line-height: 40px;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
}
.sliders {
  display: flex;
}
}

.range-slider {
  width: 30px;
  height: 152px;
  background-color: rgba(0, 0, 0, 0.62);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 8px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 4px;
.param {
  color: #f7f7f7;
  font-size: 14px;
  line-height: 14px;
}
.scope {
  color: #f7f7f7;
  font-size: 12px;
  line-height: 12px;
&-min {
   margin-top: 35px;
 }
}
input[type=range].vertical {
  transform: rotateZ(-90deg);
  width: 104px;
  margin-top: 44px;
}
}


input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #D8D8D8;
  border-radius: 3px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.32);
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: #44BFA3;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #D8D8D8;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: #D8D8D8;
  border-radius: 3px;
  border: none;
}
input[type=range]::-moz-range-thumb {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.32);
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: #44BFA3;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #D8D8D8;
  border: none;
  border-radius: 6px;
}
input[type=range]::-ms-fill-upper {
  background: #D8D8D8;
  border: none;
  border-radius: 6px;
}
input[type=range]::-ms-thumb {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.32);
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: #44BFA3;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #D8D8D8;
}
input[type=range]:focus::-ms-fill-upper {
  background: #D8D8D8;
}
