<!DOCTYPE html>
<html>
<head>
    <!-- пропишем заголовок окна -->
    <title>На сайте ведутся технические работы</title>
    <!-- не забываем о кодировке -->
    <meta charset="utf-8" />
    <!-- подключаем стили -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="block">
    <div class="template">
        <img class="bender" src="https://kuzmenov.ru/demo/maintenance_mode/b.jpg" height="250px">
        <h1>На сайте ведутся технические работы</h1>
        <p>На текущий момент наш интернет-ресурс недоступен. Матрица не сломалась. Мы просто решили сделать ее немного лучше.</p>
        <p>Обновите страницу через пару минут. Все будет работать. Но не факт</p>
    </div>
</div>
</div>
</body>
</html>