<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="https://api.instagram.com/oauth/authorize
    ?client_id=2529681330670207
    &redirect_uri=https://muzofond.loc/auth/instagram
    &scope=basic,email
    &response_type=code"></a>
<h1>hello</h1>
</body>
</html>