<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple/icon-precomposed-57.png">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/apple/icon-precomposed-60.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple/icon-precomposed-72.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/apple/icon-precomposed-76.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple/icon-precomposed-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/apple/icon-precomposed-120.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple/icon-precomposed-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple/icon-precomposed-152.png">
    <link rel="apple-touch-icon-precomposed" sizes="167x167" href="/apple/icon-precomposed-167.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="/apple/icon-precomposed-180.png">


    <script src="https://kit.fontawesome.com/419e16d38b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/social.css">
    <link rel="stylesheet" href="/login/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/login/script.js"></script>


    <meta name="application-name" content="Music is Life">
    <meta name="apple-mobile-web-app-capacity" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="referrer" content="no-referrer">
    <title>Авторизация</title>
</head>
<body class="login">
{{ url_vk }}"
<a href="{{ url_vk }}"><span class="fa fa-vk"></span></a>
<div class="logo"></div>
<div class="social">

    <a class="btn btn-sm btn-social-icon btn-odnoklassniki"><span class="fa fa-odnoklassniki"></span></a>
    <a class="btn btn-sm btn-social-icon btn-facebook"><span class="fa fa-facebook"></span></a>
</div>
</body>