<!DOCTYPE html>
<html>
<head>
    <title>AmplitudeJS Testing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Include font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <!-- Include Amplitude JS -->
    <script type="text/javascript" src="/dist/amplitude.js"></script>
    <!-- Include Style Sheet -->
    <link rel="stylesheet" type="text/css" href="/css/app.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/css/custom.css" media="screen"/>

</head>
<body>
<div class="player_player">
    <div id="white-player">
        <div class="white-player-top">
            <div>
                &nbsp;
            </div>

            <div class="center">
                <span class="now-playing">Now Playing</span>
            </div>

            <div>
                <img src="/img/show-playlist.svg" class="show-playlist"/>
            </div>
        </div>

        <div id="white-player-center">
            <img data-amplitude-song-info="cover_art_url" class="main-album-art"/>

            <div class="song-meta-data">
                <span data-amplitude-song-info="name" class="song-name"></span>
                <span data-amplitude-song-info="artist" class="song-artist"></span>
            </div>

            <div class="time-progress">
                <div id="progress-container">
                    <input type="range" class="amplitude-song-slider"/>
                    <progress id="song-played-progress" class="amplitude-song-played-progress">60</progress>
                    <progress id="song-buffered-progress" class="amplitude-buffered-progress" value="60"></progress>
                </div>

                <div class="time-container">
                <span class="current-time">
                  <span class="amplitude-current-minutes"></span>:<span class="amplitude-current-seconds"></span>
                </span>
                    <span class="duration">
                    <span class="amplitude-duration-minutes"></span>:<span class="amplitude-duration-seconds"></span>
                  </span>
                </div>
            </div>
        </div>

        <div id="white-player-controls">
            <div class="amplitude-shuffle amplitude-shuffle-off" id="shuffle"></div>
            <div class="amplitude-prev" id="previous"></div>
            <div class="amplitude-play-pause" id="play-pause"></div>
            <div class="amplitude-next" id="next"></div>
            <div class="amplitude-repeat" id="repeat"></div>
        </div>

        <div id="white-player-playlist-container">
            <div class="white-player-playlist-top">
                <div>

                </div>
                <div>
                    <span class="queue">Queue</span>
                </div>
                <div>
                    <img src="/img/close.svg" class="close-playlist"/>
                </div>
            </div>

            <div class="white-player-up-next">
                Up Next
            </div>
        </div>
    </div>
</div>
</body>

<script type="text/javascript" src="/js/functions.js"></script>
</html>
