<div class="row" id="content-row">
    <div class="container">
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Song</th>
                <th scope="col">Player</th>
            </tr>
            </thead>
            <tbody>
            {% set url = "" %}

            {% for key,music in musics %}
                {% set url = music.url %}
                <tr>
                    <th scope="row">{{ key+1 }}</th>
                    <td>{{ music.name }}</td>
                    <td>{{ music.song }}</td>
                    <td>
                        <button class="button_audio btn btn-outline-secondary"
                                id="song-{{ key }}"
                                data-song="{{ key }}" data-name="{{ music.name }}" data-url="{{ music.url|raw }}"
                                data-track="{{ music.song }}"
                                data-song-id="{{ key }}">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-play" fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      id="status-{{ key }}"
                                      data-role="status"
                                      d="M10.804 8L5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
                            </svg>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
