<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <br><a href="{{ url }}">VK</a>
    <h4>Heelo {{ user.firstName }}</h4>
    <img src="{{ user.Photo }}">
<h1>hello</h1>
</body>
</html>