
body{
    background: linear-gradient(to top right, #351148, #00d949);
    overflow-x:hidden;  /*для горизонтального*/
}



/*// Экстрамалые девайсы («телефоны», < 576px)*/


@media (max-height: 812.98px) {

    div#white-player {
        margin-top: 2px;
    }

    div#white-player-center img.main-album-art {
        min-height: 24rem;
        max-height: 44rem;
    }

}


@media (max-height: 568px) {

    #white-player{
       max-height: 568px;
    }

    div#white-player {
        margin-top: 0;
        padding: 0;
        height: 461px;
        max-height: 568px;
    }

    div#white-player-center img.main-album-art {
        max-height: 9rem;
        min-height: 5rem;
    }

    progress{
        width: 100%;!important;
    }

    .player_player {
        padding-top: 0%;
        margin-top: 0;
    }

    div#white-player-controls div#previous {
        margin-right: 1px;
    }

    div#white-player-controls div#next {
        margin-right: 1px;
    }

    div#white-player-controls div#play-pause {
        margin-right: 1px;
    }

    div#white-player-controls div#shuffle {
        margin-right: 1px;
    }


}



/*// Малые девайсы («ландшафтные», < 768px)*/
@media (max-width: 767.98px) {

}

/*// Средние девайсы («таблетки», < 992px)*/
@media (max-width: 991.98px) {

}

/*// Большие девайсы (большие десктопы, < 1200px)*/
@media (max-width: 1199.98px) {

}


.form-control{
    background-color: rgba(121, 2, 162, 0.47);
    border-color: #0ed900;
    color: #fcfcfc;
}

.form-control:focus{
    border-color: #2cff00;
    background-color: rgba(248, 15, 0, 0.47);
}



.button_audio{
    border-radius: 100%;
}


.list-counter-square {
    list-style: none;
    counter-reset: list;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-width: 99%;
}

.list-counter-square>li {
    position: relative;
    display: block;
    height: 2rem;
    line-height: 2rem;
    margin-left: 1.75rem;
    margin-bottom: .25rem;
    padding-left: 1rem;
    padding-right: .5rem;
    color: #fff;
    background: #7b1fa2;
    opacity: 0.7;
    white-space: nowrap;
    border-radius: .25rem;
}

.list-counter-square>li:last-child {
    margin-bottom: 0;
}

.button_audio {
    position: absolute;
    left: -2rem;
    top: -.25rem;
    bottom: -.25rem;
    width: 2.5rem;
    line-height: 2rem;
    border-radius: 1.25rem;
    border: .25rem solid rgba(0, 255, 0, 0.3);
    text-align: center;
    color: #fff;
    background: #7b1fa2;

}
.marquee {
    overflow: hidden;
    white-space: nowrap; /* Запрещаем переносы слов */
    animation: marquee 10s linear infinite alternate;
}

@keyframes marquee {
    from { text-indent: 100%; }
    to { text-indent: 0; }
}

.player_player{
    overflow: hidden;
    position: fixed;
    bottom: 0%;
    width: 100%;
    z-index: 100;
    background-color: rgba(10, 10, 10, 0.73);
    height: 100%;
    display: none;
}


