
.navbar {
    overflow: hidden;
    background: linear-gradient(to top right, #351148, rgba(0, 217, 73, 0.31));
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    z-index: 101;
}

.navbar i {
    float: left;
    display: block;
    color: rgba(242, 26, 2, 0.85);
    text-align: center;
    text-decoration: none;
    font-size: 21px;
}

.navbar i:hover {
    /*background-color: #ddd;*/
    color: black;
}

.navbar i.active {
    background-color: #4CAF50;
    color: white;
}

.navbar .icon {
    display: none;
}

.active-icon{
    color: rgb(14, 217, 0) !important;
}


.navbar#nav_list{
    display: inline-block;
    height: 20px;
    width: 28px;
    background: url("/img/show-playlist.svg");
    vertical-align: middle;
}


.navbar#nav_play{
    display: inline-block;
    height: 20px;
    width: 28px;
    background: url("/img/show-playlist.svg");
    vertical-align: middle;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        bottom:0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

}