body{
    font-family: Verdana, Arial, sans-serif;
    font-size: 20px;
    color : #000;
}
h1{
    font-size: 30px;
}
p{
    font-size: 22px;
    padding: 0 0 0 10px;
    margin:0;
}
.template{
    padding: 0 0 10px 50px;
    text-align: center;
}
.block{
    display: block;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}
.bender{
    max-width: 400px;
}