name="pass">
<dl class="fi_row">
<input type="hidden" name="captcha_sid" value="%captcha_sid%">
<img class="oauth_captcha" src="%src%&amp;dif=1">
<div class="oauth_form_header fi_label">Код с картинки:</div>
<input type="text" class="oauth_form_input dark textfield" name="captcha_key">
<dl class="fi_row">