<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>


  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="/musick/css/gray.css">
  <link rel="stylesheet" href="/musick/css/blue.css">
  <link rel="stylesheet" href="/musick/css/black.css">

  <link rel="stylesheet" href="/musick/css/normalize.css">
  <link rel="stylesheet" href="/musick/css/style.css">
  <link rel="stylesheet" href="/musick/css/social.css">
  <meta name="theme-color" content="#fafafa">
</head>

<body>
<div class="logo">
  <img src="/musick/img/logo.png">
</div>

<div class="social">
  <div class="col">
    <a id="vk_url" href="{{ url_vk }}" class="btn-vk btn">
      <i class="fa fa-vk fa-fw"></i> Войти через VK
    </a>
    <a href="#" class="btn-facebook btn disabled">
      <i class="fa fa-facebook fa-fw"></i>Войти через Facebook
    </a>
    <a href="#" class="btn-odnoklassniki btn disabled">
      <i class="fa fa-odnoklassniki fa-fw"></i> Войти через OK
    </a>
  </div>
</div>


<script src="https://kit.fontawesome.com/419e16d38b.js" crossorigin="anonymous"></script>
<script src="js/app.js"></script>
</body>
</html>
