<div class="modal fade" id="modal_update" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Системная информация</h5>
            </div>
            <div class="modal-body">
                <b>Встречайте новая версия":</b><br>
                <ul>
                    <li>Она так же доступна на сайте https://composition.best</li>
                    <li style="color: red">Доработано и улучшено</li>
                    <li>1. Добавлена новая тема!</li>
                    <li>2. Убрано окошко которое информирует о том что приложение запущено, и дико мешает работе</li>
                    <li>3. Кнопки навигации плаеера автоматически скрываются если вы поставили на паузу, и не воспроизводите музыку в течении 3-х минут</li>
                    <li>4. Если вы наблюдаете сбои в работе программы когда последняя находится в фоновом режиме, активируйте соотвутсвующу функцию в настройках</li>
                    <li>6. У пользователей у которых были проблемы с сохранением песен, должно все заработать(но не обязано)</li>
                    <li>7. Ваша музыка не куда не пропала, она находится в папке Composition, но теперь приложение не сканирует эту папку на предмет музыки, поэтому пожалуйста загрузите треки по новой</li>
                    <li>Если у Вас есть предложение по улучшению или Вы испытываете проблемы при работе приложение, пожалуйста свяжить со мной</li>
                    <li style="color: gray">+7996 108 65 00 - what'app</li>
                    <li style="color: gray" >https://vk.com/iphone_user - VK</li>
                    <li style="color: gray;">support@composition.best - E-mail</li>
                    <li style="color: gray" >https://vk.com/composition.app - Группа в ВК</li>
                    <li>Спасибо за обратную связь!</li>
                    <li style="color: red">Хочу выразить особую благодарность Екатерине, Артему, Ролану, Эльвине за обратную связь!</li>
                    <li>Обратная связь очень важна для дальнейшего развития.Хорошего Вам дня. P.S <b>#хватит_платить_за_музыку</b></li>
                    <li>Т.к мы готовимся выходить в Google Play эту версию придется удалить и установить новую с сайта</b></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button id="update_close" type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
<!--                <a target="_blank" href="https://10.0.2.2/app-debug.apk" type="button" class="btn btn-primary" download>Скачать</a>-->
            </div>
            <script>
                $(document).on('click', "#update_close", function () {
                    $(this).parent().parent().parent().parent().modal('hide');
                });
            </script>
        </div>
    </div>
</div>